{
    "parseOptions" : {
        "ecmaVersion": 2018,    //엑크마스크립트 2018을 기준으로 
        "sourceType": "module", //impot, export, require를 사용하기 때문에 
        "ecmaFeatures": {
            "jsx": true         //jsx 사용 
        }
    },
    "env" :{
        "browser": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",       //eslint 가 추천하는 코드 스타일
        "plugin:react/recommended"
    ],
    "plugins": [
        "import",
        "react-hooks"
    ]
}